@font-face {
  font-family: ThirdStreet;
  font-style: normal;
  font-weight: 900;
  src: url(/fonts/ThirdStreetBold-Latin.woff2) format("woff2");
}

/* --color-bg: #403c30; */
/* --color-emphasis: #fedc00; */

:root {
  --color-bg: #0a0a06;
  --color-primary: #f5eee4;
  --color-secondary: #161616;
  --color-socials: #8ad1f1;
  --color-borders: #202020;
  --color-gradient-1: #3fc9ff;
  --color-gradient-2: #7a1c50;
  --color-gradient-3: #e79f31;
  --color-emphasis: #f8de08;
  --color-urls: #f8de08;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

svg {
  pointer-events: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  font-size: large;
}

h1 h2 article p {
  pointer-events: none;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#navmenu {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
  /* margin-bottom: 1.5em; */
}

.menu-item {
  padding-left:   0.5em;
  padding-right:  0.5em;
  
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  color: #919191 !important;
  text-align: center;
  width: auto;
  cursor: pointer;
  font-size: x-large;

  &.active {
    color: #dadada !important;
    text-decoration: underline;
  }
}

.section {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-container {
  width: 50vw;
}

.section-header {
  font-family: ThirdStreet;
  font-weight: 100;
  font-size: 2.5em;
  background: linear-gradient(
    to right,
    var(--color-socials),
    var(--color-primary),
    var(--color-primary)
  );
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 0px var(--color-socials);
  text-transform: uppercase;
  text-decoration: none;
  padding: 0;
  margin: 0 0 1em 0;
  width: 100%;
}

.section-article {
  font-weight: 600;
  font-size: 1.2em;
  width: 100%;
  padding: 0;
  margin: 0;
}

#logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1;
}

#page-logo {
  height: 3em;
  aspect-ratio: 1;
  margin: 0;
  filter: drop-shadow(0 0 2px var(--color-primary)) invert(75%) sepia(28%)
    saturate(526%) hue-rotate(167deg) brightness(200%) contrast(93%);
}

.glowing-title {
  font-family: ThirdStreet;
  font-size: 6em;
  background: linear-gradient(
    to right,
    var(--color-gradient-1),
    var(--color-gradient-2),
    var(--color-gradient-3),
    var(--color-gradient-1)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 0 0px var(--color-primary);
  margin: 0;
  padding: 0;
  max-width: 70%;
}

.glowing-subtitle {
  font-family: ThirdStreet;
  font-size: 4.5em;
  background: linear-gradient(
    to right,
    var(--color-gradient-1),
    var(--color-gradient-2),
    var(--color-gradient-3),
    var(--color-gradient-1)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 0 1px var(--color-primary);
  margin: 0;
  padding: 0;
  max-width: 70%;
}

.social-icon {
  color: var(--color-primary);
  height: 2em;
  opacity: 0.6;
  transition: all 0.8s ease;
}

#socials-container {
  display: flex;
  flex-direction: row;
  margin-top: 1.5em;
  gap: 1.5em;
}

#socials-container a:hover > .social-icon {
  opacity: 1;
  color: var(--color-socials);
}

.footer {
  display: flex;
  align-content: center;
  justify-content: center;
}

.accordion {
  display: flex;
  flex-direction: column;
}

.accordion-header {
  background-color: var(--color-bg);
  color: var(--color-primary);
  border-width: 0;
  display: flex;
  flex-direction: row;
  width: 50vw;
  text-align: left;
  justify-content: space-between;
  cursor: pointer;
}

.accordion-content {
  text-align: left;
  margin-bottom: 1em;
}

.nested-accordion {
  margin-left: 1em;
}

#summit-header {
  padding-top: 2em;
  height: 12.5em;
  padding-bottom: 0em;
}

.header-title {
  font-size: 3.5em;
}

#summit-header-img {
  max-width: 600px;
  height: auto;
  width: 60%;
}

#desktop-calendar {
  display: block;
}

#mobile-calendar {
  display: none;
}

@keyframes open {
  0% {opacity: 0; margin-top: -20px}
  100% {opacity: 1; margin-top: 0px}
}

details[open] summary ~ * {
  animation: open .5s ease-in-out;
}

.button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: inline-block;
  border-radius: 2px;  
  background-color: #161515;  
  border: var(--color-emphasis);  
  border-style:inset;
  color: #b6b2b1;  
  text-align: center;  
  font-size: 1.5em;  
  padding: 20px;  
  width: 5em;  
  transition: all 0.5s;
  cursor: pointer;  
  margin: 5px;
  text-decoration: none;
}

a:link {
  color: var(--color-urls);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: var(--color-urls);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--color-urls);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: var(--color-urls);
  background-color: transparent;
  text-decoration: underline;
}

@media screen and (orientation: portrait) {
  body {
    margin: 0.1em;
    overflow-x: hidden;
  }

  .glowing-title {
    width: 95vw;
    word-wrap: break-word;
    font-size: 2.2em;
    text-orientation: upright;
    max-width: 85%;
  }
  .glowing-subtitle {
    width: 95vw;
    word-wrap: break-word;
    font-size: 2.0em;
    text-orientation: upright;
  }

  .section {
    height: 65vh;
    margin-top: 0vh;
  }

  .section-container {
    width: 80vw;
  }

  .section-header {
    font-size: min(2em, 10vw);
  }

  #socials-container {
    margin-top: 0.8em;
  }

  .social-icon {
    margin-top: 0em;
    height: 1.7em;
  }

  .button {
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    font-size: 1.5em;  
    padding: 4px;  
    width: 50vw;  
    font-size: 1.1em;
    max-width: 200px;
    transition: all 0.5s;
    margin: 5px;
  }

  .accordion-header {
    width: 80vw;
  }

  #navmenu {
    margin-bottom: 0em;
  }

  .menu-item {
    font-size: large;
  }

  #summit-header {
    /* padding-top: 2em; */
    height: 7.5em;
    /* padding-bottom: 0em; */
  }

  .header-title {
    font-size: 2em;
  }

  #summit-header-img {
    max-width: 500px;
    width: 80%;
  }

  #desktop-calendar {
    display: none;
  }
  
  #mobile-calendar {
    display: block;
  }
}
