<!DOCTYPE html>
<html
  lang="{{ .Site.Language | default "en-US" }}"
  dir="{{ .Language.LanguageDirection | default "auto" }}"
>
<header>
  I'm a list
</header>
<body>
  {{ .Content }}
</body>
</html>

