<!DOCTYPE html>

<html
  lang="{{ .Site.Language | default "en-US" }}"
  dir="{{ .Language.LanguageDirection | default "auto" }}"
>

{{ partial "head.html" . }}

<body>
  {{ partial "header.html" . }}
  <main>
    {{ partial "summit-header.html" . }}
    <section id="{{ .Title }}" class="section" style="height: auto;">
      <div class="centered section-container" style="margin-top: 1em;">
        {{ .Content }}
      </div>
    </section>
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>

</html>

