<div id="footer" class="footer">
  <div id="socials-container" class="section-container" style="justify-content: center;">
    {{- range site.Params.socialIcons -}}
      <a
        href="{{ trim .url " " | safeURL }}"
        target="_blank"
        rel="noopener noreferrer me"
        title="{{ .display | default (title .name) }}"
        class="interactable"
      >
      {{ partial "svg.html" . }}
      </a>
    {{- end -}}
  </div>
</div>
<div style="display:flex; align-content:center; justify-content: center;">
  <p style="font-size: x-small; margin-top: 1vh; margin-bottom: 1vh;">© 1312 all cop cities <span style="color:var(--color-emphasis)">will crumble</span>, all borders <span style="color:var(--color-emphasis)">will fall</span></p>
</div>