<header>
  <nav id="navmenu">
    {{ $currentPage := . }} 
    {{ range site.Menus.main }}
      {{ if or ($.IsMenuCurrent .Menu .) (and (not $currentPage.Parent) (eq .URL "/")) }}
        <a class="active menu-item" aria-current="page" href="{{ .URL }}">{{ .Name }}</a>
      {{ else }}
        <a class="menu-item" href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
    {{ end }}
  </nav>
</header>