<section id="home" class="section" style="height: auto;">
<div class="centered section-container" style="line-height: 1.75em;">
  <h3>Summit map is released! Check the updated venue information on the <a href="/events">events page</a></h3>

  <h3>
    Greetings from S-cu:k Soñ, on occupied O'odham land colonially known as Tucson, AZ. You are invited to four days of autonomous / decentralized / direct action, panels, camping, workshops, live music, and discussions defined and created by all of us together. You are not just a participant, you are a co-creator. Organize a workshop, cook a meal, set up camp, take initiative, be responsible, take care of yourself and each other, come prepared to take action!
  </h3>
  <h3>
    From O'odham Jewed to the Weelaunee Forest to Palestine - The land and its people will be free!
  </h3>
</div>
</section>
