<section id="summit-header" class="section">
  <a style="display: flex; width: 100%; flex-direction: column; align-items: center;" href="/"><img id="summit-header-img" src="/summit-header.png"></a>
</section>