<!doctype html>
<html
  lang="{{ .Site.Language | default "en-US" }}"
  dir="{{ .Language.LanguageDirection | default "auto" }}"
>
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" }}
    <main>
      {{ partial "summit-header.html" . }}
      {{ partial "home.html" . }}
    </main>
    <footer>
      {{ partial "footer.html" . }}
    </footer>
  </body>
</html>
