{{ $title:= .Get 0 }}
{{ $class:= .Get "class" }}
{{ $headerClass:= .Get "header-class" }}
{{ $bodyClass:= .Get "body-class" }}
{{ $noBottomBar:= .Get "no-bottom-bar" }}

{{ range $i, $e:= .Params }}
  {{ if eq $i "title" }}{{ $title = $e }}{{ end }}
{{ end }}

<details class="accordion {{ $class }}">
  <summary class="accordion-header {{ $headerClass }}">{{ $title | markdownify }}</summary>
  <div class="accordion-content {{ $bodyClass }}">
    <p>{{ .Inner | markdownify }}</p>
  </div>
</details>
{{ if not (eq $noBottomBar "true") }}
<hr style="border-style: solid; border-bottom-width: 1px; width: 100%;">
{{ end }}